.title {
    text-align: center;
    padding-bottom: 20px;
    font-size: 30px;
}
.wrapper__categories {
    height: calc(100vh - 90px);
    overflow: auto;
    &::-webkit-scrollbar {
        width: 12px;               /* ширина всей полосы прокрутки */
      }
      
      &::-webkit-scrollbar-track {
        background: rgb(187, 187, 187);        /* цвет зоны отслеживания */
      }
      
      &::-webkit-scrollbar-thumb {
        background-color: #405a75;    /* цвет бегунка */
        border-radius: 4px;       /* округлось бегунка */ 
      }
    .categories {
        display: grid;
        // height: calc(100vh - 90px);
        grid-template-columns: 200px 200px 200px 200px; 
        grid-auto-rows: 150px;
        justify-content: center;
        gap: 10px;
        &__item {
            display: flex;
            flex-direction: column;
            background-color: #2d455f;
            color: white; 
            align-items: center; 
            justify-content: center;
            cursor: pointer; 
            transition: all ease 0.3s; 
            border-radius: 10px; 
            font-size: 20px;
            font-weight: 600;
            span {
              font-size: 30px;
              padding-bottom: 10px; 
            }

            &:hover {
              background-color: #536f8d;

            }
            &_num {
              padding-top: 10px;
              font-size: 15px;
              font-weight: 400;
            }
        }
    }
}
