.main__wrapper {
    display: grid; 
    overflow: hidden; 
    &_sliding-block {
        display: grid; 
        grid-template-columns: 100vw 100vw 100vw;
        width: 100vh;
        transform: translateX(-100vw);
        transition: all ease 0.3s;
        &.active__dictionary {
            transform: translateX(0vw);
        }
        &.active__admin  {
            transform: translateX(-200vw);
        }
        &.active__user  {
            transform: translateX(-200vw);
        }
    }
    .body {
        position: relative;
       
    }
    .wrapper__categories {
        position: relative;
        
    }
    .main_dictionary {
    }
   
}